body {
  background: rgb(216, 214, 208);
}

.picture-container {
  height: 20em;
}

.image {
  height: 80%;
  max-width: -webkit-fill-available;
}

.label {
  text-transform: capitalize;
  width: 100%;
}
