.project-link {
  margin-top: 20px;
  text-align: left;
  padding: 0.5rem;
  font-size: 2rem;
  border-bottom: 1px solid;
  line-height: 1em;
}

.project-description {
  text-align: left;
  padding: 0.5rem;
  margin-top: 0;
}

.sub-description {
  font-size: 1rem;
}
